body {
  background-color: #f2f2f2;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 920px;
  margin: 0 auto;
}

.card {
  margin-bottom: 4px;
}

.card img {
  width: 150px;
}

.card .card--front {
  display: none;
}

.card.show .card--front {
  display: inherit;
}

.card.show .card--back {
  display: none;
}


